<div class="colums">
  <div class="one">
    <h2>
      <a href="/boards/freeForAll">Free For All</a>
    </h2>
  </div>
  <div class="two">
    <h2>
      <a href="/boards/shareTank">Share Tank</a>
    </h2>
  </div>
  <div class="three">
    <h2>
      <a href="/boards/fishTrades">Fish Trades</a>
    </h2>
  </div>
  <div class="four">
    <h2>
      <a href="/boards/brakish">Brakish</a>
    </h2>
  </div>
</div>