* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  /* background-color: purple; */
}
nav {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(52, 50, 50);
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 15px;
  border: solid 2px black;
}
.colums {
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.colums a {
  color: black;
}
.one {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.two {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.three {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.four {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: orange;
}
.wrap .left {
  width: 80%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
}
.wrap .right {
  width: 20%;
  height: 100%;
  background-color: red;
}
nav a {
  color: black;
}
.display-board {
  background-color: gray;
}
.display-board > h1 {
  width: 80%;
  display: flex;
  justify-content: center;
}
.display-board .wrap .left {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  /* justify-content: space-around; */
}
.display-board .wrap .left .inside {
  height: 15%;
  width: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.display-board .wrap .left .inside h3 {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-board .wrap .left .inside h5 {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-board .wrap .right {
  background-color: rgb(83, 69, 69);
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-board .wrap .right a {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
.link {
  margin-bottom: 100px;
}
.user-render {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.user-render button {
  padding: 20px;
  background-color: rgb(49, 49, 140);
  border-radius: 15px;
}
.user-render button a {
  color: white;
text-decoration: none;}
.comments {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}